@page "/question"
@using RookieDriver.JSON
@using RookieDriver.Models
@rendermode InteractiveServer

<h3>Question</h3>


<div class="form-group">
    <label>
        @DisplayQuestion.Description
    </label>
</div>
<div>
    <InputRadioGroup Name="Options" @bind-Value="@DisplayQuestion.UserAnswer">

        @foreach (var option in DisplayQuestion.Options)
        {
            <div>
                <label>
                    <InputRadio Value="@option.Id" /> @option.Description
                </label>
            </div>
        }
    </InputRadioGroup>
</div>

@if(index < totalCount - 1)
{
    <button class="btn btn-dark" @onclick="@Next">
        Next Question
    </button>
}

@code {
    private Question DisplayQuestion;
    private List<Question> QArr;
    private int index = 0;
    private int totalCount = 0;
    /// <summary>
    /// To Start off your page with initial Data
    /// </summary>
    protected override void OnInitialized()
    {
        JsonReader fileRead = new JsonReader();
        QArr = fileRead.ReadQuestions();

        DisplayQuestion = QArr[index];
        totalCount = QArr.Count;
    }

    public void Next()
    {
        if(QArr[index].UserAnswer != 0)
        {
            index++;
            DisplayQuestion = QArr[index];
        }
    }
}


