@page "/question"
@using RookieDriver.Models
@rendermode InteractiveServer

<h3>Question</h3>


<div class="form-group">
    <label>
        @DisplayQuestion.Description
    </label>
</div>
<div>
    <InputRadioGroup Name="Options" @bind-Value="@DisplayQuestion.UserAnswer">
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionA" /> @DisplayQuestion.OptionA
            </label>
        </div>
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionB" /> @DisplayQuestion.OptionB
            </label>
        </div>
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionC" /> @DisplayQuestion.OptionC
            </label>
        </div>
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionD" /> @DisplayQuestion.OptionD
            </label>
        </div>
    </InputRadioGroup>
</div>
<button class="btn btn-dark" @onclick="@Next">
    Next Question
</button>

@code {
    private Question DisplayQuestion;
    private List<Question> QArr;
    private int index = 0;
    /// <summary>
    /// To Start off your page with initial Data
    /// </summary>
    protected override void OnInitialized()
    {
        QArr = new List<Question>();

        var q1 = new Question()
            {
                Description = "How was your day?",
                OptionA = "Bad",
                OptionB = "Fine",
                OptionC = "Good",
                OptionD = "Great",
                CorrectAnswer = "Great"
            };
        var q2 = new Question()
            {
                Description = "How was school?",
                OptionA = "Bad",
                OptionB = "Badder",
                OptionC = "Worse",
                OptionD = "Worst",
                CorrectAnswer = "Worst",
            };

        QArr.Add(q1);
        QArr.Add(q2);

        DisplayQuestion = QArr[index];
    }

    public void Next()
    {
        index++;
        DisplayQuestion = QArr[index];
    }
}


