@page "/question"
@using RookieDriver.JSON
@using RookieDriver.Models
@rendermode InteractiveServer

<h3>Question</h3>


<div class="form-group">
    <label>
        @DisplayQuestion.Description
    </label>
</div>
<div>
    <InputRadioGroup Name="Options" @bind-Value="@DisplayQuestion.UserAnswer">
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionA" /> @DisplayQuestion.OptionA
            </label>
        </div>
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionB" /> @DisplayQuestion.OptionB
            </label>
        </div>
        <div>
            <label>
                <InputRadio Value="@DisplayQuestion.OptionC" /> @DisplayQuestion.OptionC
            </label>
        </div>
    </InputRadioGroup>
</div>
<button class="btn btn-dark" @onclick="@Next">
    Next Question
</button>

@code {
    private Question DisplayQuestion;
    private List<Question> QArr;
    private int index = 0;
    /// <summary>
    /// To Start off your page with initial Data
    /// </summary>
    protected override void OnInitialized()
    {
        JsonReader fileRead = new JsonReader();
        QArr = fileRead.ReadQuestions();

        DisplayQuestion = QArr[index];
    }

    public void Next()
    {
        index++;
        DisplayQuestion = QArr[index];
    }
}


