@page "/question"
@using RookieDriver.JSON
@using RookieDriver.Models
@rendermode InteractiveServer

<h3>Question</h3>


<div class="form-group">
    <label>
        @DisplayQuestion.Description
    </label>
</div>
<div>
    <InputRadioGroup Name="Options" @bind-Value="@DisplayQuestion.UserAnswer">

        @foreach (var option in DisplayQuestion.Options)
        {
            <div>
                <label>
                    <InputRadio Value="@option.Id" /> @option.Description
                </label>
            </div>
        }
    </InputRadioGroup>
</div>

@if(index < totalCount - 1)
{
    <button class="btn btn-dark" @onclick="@Next">
        Next Question
    </button>
}

@if(index == totalCount -1 )
{
    <button class="btn btn-dark" @onclick="@SubmitTest">
        Submit Test
    </button>
}

@code {
    private Question DisplayQuestion; //current question to be displayed
    private List<Question> QArr; //all the questions being displayed
    private int index = 0; // position of the question in the list
    private int totalCount = 0; // total items in the array, whats the last question in the array
    private int passScore = 41; 
    private int UserScore = 0;
    /// <summary>
    /// To Start off your page with initial Data
    /// </summary>
    protected override void OnInitialized()
    {
        JsonReader fileRead = new JsonReader();
        QArr = fileRead.ReadQuestions();

        DisplayQuestion = QArr[index];
        totalCount = QArr.Count;
    }

    public void Next()
    {
        if(QArr[index].UserAnswer != 0)
        {
            index++;
            DisplayQuestion = QArr[index];
        }
    }

    public void SubmitTest()
    {
        

        foreach (Question qAnswered in QArr)
        {
            if(qAnswered.CorrectAnswer == qAnswered.UserAnswer)
            {
                UserScore = UserScore + 1;
            }
        }


    }
}


